<div class="main-section">
  <header class="header dis-flx">
    <div class="logo-area">
    </div>
    <div class="menu-area dis-flx jsfy-sb">
      <div class="mypage">
      </div>
      <div class="signout">
      </div>
      <div class="donation">
      </div>
    </div>
  </header>
  
  <main class="main">
    <div class="search-area"></div>
    <div class="post-area"></div>
    <div class="posted-slide-area"></div>
    <div class="study-area">
      <div class="2week-study-area"></div>
      <div class="tag-study-area"></div>
    </div>
  </main>
  <footer class="footer">
  </footer>
</div>