<div class="main-section">
  <header class="header dis-flx jsfy-sb">
  
    <div class="logo-area">
      <a href="/">
        <%= image_tag 'logo2.png', class: 'logo' %>
      </a>
    </div>
    
    <ul class="menu-area dis-flx jsfy-sb">
      <li class="menu mypage">
        <a href="#">マイページ</a>
      </li>
      <li class="menu signout">
        <a href="#">ログアウト</a>
      </li>
      <li class="menu donation">
        <a href="#">寄付</a>
      </li>
    </ul>
  </header>
  
  <main class="main">
    <div class="search-area"></div>
    <div class="post-area"></div>
    <div class="posted-slide-area"></div>
    <div class="study-area">
      <div class="2week-study-area"></div>
      <div class="tag-study-area"></div>
    </div>
  </main>
  <footer class="footer">
  </footer>
</div>