<div class="main-section">
  <main class="main">
    <div class="f8-area">
      <h1 class="search-title">キーワードから検索する</h1>
      <div class="search-area ">
        <%= form_tag('/knowledges/search', method: :get, class: "search-area dis-flx") do %>
          <input class="search-input" name="keyword" type="text" value=""></input>
          <input class="search-submit" title="検索" type="submit"></input>
        <% end %>
      </div>
      <div class="search-error-message dis-no">
        <h2 class="error-message">
          ここにエラーメッセージ（keywordがnullでsubmitが実行された場合に「※キーワードを入力してください。」）を表示するjsを組み込む。
        </h2>
      </div>
    </div>
    <div class="post-area f8-area"></div>
    <div class="posted-slide-area f8-area"></div>
    <div class="study-area f8-area">
      <div class="2week-study-area"></div>
      <div class="tag-study-area"></div>
    </div>
  </main>
  <footer class="footer">
  </footer>
</div>