<div class="main-section">
  <main class="main">
    <div class="f8-area">
      <h1 class="search-title">キーワードから検索する</h1>
      <div class="search-area ">
        <%= form_tag('/knowledges/search', method: :get, class: "search-area dis-flx") do %>
          <input class="search-input" name="keyword" type="text" value=""></input>
          <input class="search-submit" title="検索" type="submit"></input>
        <% end %>
      </div>
      <div class="search-error-message dis-no">
      <h2 class="error-message">
          ここにエラーメッセージ（keywordがnullでsubmitが実行された場合に「※キーワードを入力してください。」）を表示するjsを組み込む。
        </h2>
      </div>
    </div>
    <div class="f8-area">
      <h1 class="post-title">新しく投稿する</h1>
      <div class="post-area ">
        <%= form_for @knowledge do |f| %>
          <div class="post-area-title">
            <%= f.text_field :title, placeholder: "タイトル", class: "knowledge-title dis-blk" %>
          </div>
          <div class="post-area-text">
            <%= f.text_field :text, placeholder: "テキスト", class: "knowledge-text dis-blk", size: "40x20" %>
          </div>
          <div class="post-submit">
          </div>
        <% end %>
      </div>
      <div class="post-error-message dis-no">
      <h2 class="error-message">
          ここにエラーメッセージ（keywordがnullでsubmitが実行された場合に「※キーワードを入力してください。」）を表示するjsを組み込む。
        </h2>
      </div>
    </div>
    <div class="posted-slide-area f8-area"></div>
    <div class="study-area f8-area">
      <div class="2week-study-area"></div>
      <div class="tag-study-area"></div>
    </div>
  </main>
  <footer class="footer">
  </footer>
</div>