
* {
  font-family: 'Noto Sans JP', sans-serif;
  color: #354e59;
  letter-spacing: 3.6px;
  font-size: 18px;
}

a:hover {
  color: #738e99;
}

.main-section {
  font-weight: 300;
}

body {
  background-color: #f8f8f8;
}

.f8-area {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px 120px;
  padding: 30px 60px;
}

.dis-flx {
  display: flex;
}

.dis-no {
  display: none;
}

.dis-blk {
  display: block;
}

.jsfy-ctr {
  justify-content: center;
}

.jsfy-sb {
  justify-content: space-between;
}

.alit-ctr {
  align-item: center;
}

.header {
  width: 100%;
  height: 80px;
  padding: 10px 120px;
  background-color: #ffffff;
}

.logo {
    height: 60px;
    border-radius: 4px;
}

.menu-area {
  height: 60px;
  width: 600px;
  font-size: 18px;
}

.menu {
  width: 33.333%;
  display: block;
  font-weight: 600;
  line-height: 30px;
  justify-content: center; 
  align-items: center; 
}

.menu-link {
  text-align: end;
  line-height: 60px;
}
  
.search-area {
  height: 40px;
}

.search-title {
  padding: 0px 0px 20px 20px;
}

.search-input {
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 0px 20px 4px 20px;
  width: 600px;
  border: solid 2.5px #354e59;
  margin-right: 30px;
}

.search-submit{
  background-color: #354e59;
  color: #ffffff;
  display: block;
  width: 120px;
  border-radius: 20px;
  height: 40px;
  padding-bottom: 4px;
  text-align: center;
}

.search-error-message {
  padding: 20px 0px 0px 20px;
}

.error-message {
  font-size: 14px;
  color: red;
}

@media screen and (min-width: 481px) {
  
}




